.header {
  display: block;
  background-color: var(--main-gray-color);
  color: var(--main-white-color);
  margin-bottom: 16px;
  padding: 8px;
  box-shadow: 0px 0px 4px 2px #ababab;
}
.nav {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.nav_item {
  color: inherit;
}
