.header {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 8px;
  box-shadow: 0px 4px 10px #ababab;
  background-color: var(--main-gray-color);
  z-index: 2;
}

/* Styling for the logo in the header */
.logo {
  display: block;
}
.logo_item {
  color: var(--main-white-color);
  font-size: 24px;
  font-family: var(--main-alt-font);
}

/* Styling for the nav bar in the header*/
.nav_button {

}
.nav_button_item {
  color: var(--main-white-color);
  font-size: 24px;
  font-family: var(--main-font);
}

.nav_dropdown {
  display: none;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  padding: 8px 16px;
  position: absolute;
  top: 41px;
  right: 8px;
  background-color: #eee;
  box-shadow: 2px 2px 4px #ccc;
  z-index: 1;
}
.nav_item {
  font-size: 16px;
  color: var(--main-gray-color);
  font-family: var(--main-font);
}
.nav_item_icon {
  display: block;
  margin-right: 8px;
}
