.form_container {
  display: block;
  padding: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  box-shadow: 1px 1px 4px 1px #ccc;
}
.login_form {

}
.login_input {
  display: block;
  width: 200px;
  margin: 32px auto;
  padding: 4px;
}
.login_button {
  display: block;
  width: 64px;
  margin: 0 auto;
}
