:root {
  /* GUIDE LINES */
  /* COLOR SCHEME */
  --main-gray-color: #3A3A3A;
  --main-blue-color: #1794de;
  --main-white-color: #FFFFFF;
  /* FONTS */
  --main-font: 'Open Sans', sans-serif;
  --main-alt-font: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-alt-font);
}
p, a {
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--main-gray-color);
}

.project_adder_form_container {
  display: block;
  width: 350px;
  padding: 16px 16px;
  background-color: #eee;
  box-shadow: 1px 1px 4px 1px #ccc;
}
.project_adder_form {
  display: block;
  width: 100%;
  margin: auto;
}
.project_adder_form_input {
  display: block;
  width: 90%;
  margin: 16px auto;
  padding: 4px;
}
.project_lang_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  width: 90%;
  margin: 16px auto;
}
.project_adder_form_button {
  display: block;
  width: auto;
  margin: 16px auto;
  padding: 4px;
}
